.our-services {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

.our-services h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
    font-weight: 400;
}

.service-steps {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.step-arrow {
    font-size: 40px; 
    color: #f0c040;
    margin-left: 10px;
    animation: arrowAnimation 1s ease-in-out infinite; 
}

.step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    overflow: hidden;
    height: 220px;
}

.step-bg{
    position: absolute;
    background-color: #f0c040;
    width: 100px;
    height: 100px;  
    border-radius: 100% 50% 100% 50%;
    top: -7%;
    left: -7%;
}
.step-number {
    position: absolute;
    top: 0;
    left: 5%;
    font-size: 50px;
    color: #fff; 
    z-index: 1;
}

.step-icon {
    font-size: 50px;
    color: #f0c040;
    margin-bottom: 15px;
    
}

.step-content {
    text-align: center;
}

.step-content h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

.step-content p {
    line-height: 22px;
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
}

@keyframes arrowAnimation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px); 
    }
    100% {
        transform: translateX(0);
    }
}
